.history-container{
    text-align: left;
    margin-top: 1.5rem;
}

.history{
    border-bottom: 1px solid rgba(0, 0, 0, 0.151);
}

li{
    height: 2rem;
    width: 100%;
    background-color: white;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    list-style-type: none;
    box-shadow: 1px 4px 6px #6e6c6c65;
}

.negative{
    border-right: 5px solid red;
}

.positive{
    border-right: 5px solid green;
}