*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.back-container{
  width: 100vw;
  /* height: 100vh; */
  background: rgb(230, 230, 204);
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: grid;
  place-items: center;
}

.expense-container{
  height: fit-content;
  width: 35vw;
  background-color: rgba(202, 168, 218, 0.342);
  text-align: center;
  padding: 2rem;
}